In [ ]:
# Print table of 2.
for i in range(10):
    res=i*2
    print(res)

In [ ]:
# Print table of 2.
for i in range(11):
    res=i*2
    print(res)

In [ ]:
# Print table of 2.
for i in range(10):
    res=i*2+2
    print(res)

In [ ]:
# Print table of 2.
for i in range(1,11):
    res=i*2
    print(res)

In [ ]:
# Print table of 2.
for i in range(2,21,2):
    print(i)

In [ ]:
# print suqare of these elements of a list.
list=[2,3,4,5,6,7,8,9]
for i in list:
    res=i*i
    print(res)

In [ ]:
# print suqare of these elements of a list.
list=[2,3,4,5,6,7,8,9]
for i in range(len(list)):
    res=list[i] * list[i]
    print(res)

In [ ]:
# sum of table of 2.
res=0
for i  in range(1,11):
    coun=i*2
    res=res+coun
print(res)

In [ ]:
# print sum of these elements of a list.
list=[2,3,4,5,6,7,8,9]
res=sum(list)
print(res)

In [ ]:
# print sum of these elements of a list.
res=0
list=[2,3,4,5,6,7,8,9]
for i in list:
    res=res+i
print(res)

In [ ]:
# print sum of these elements of a list.
res=0
list=[2,3,4,5,6,7,8,9]
for i in list:
    co=i**2
    res=res+co
print(res)

In [ ]:
# print sum of these elements of a list.
res=0
list=[2,3,4,5,6,7,8,9]
for i in list:
    co=i**i
    res=res+co
print(res)

In [ ]:
list=[2,3,4,5,6,7,8,9]
for i in range(len(list),0,-1):
    print(list[i-1])

In [ ]:
list=[2,3,4,5,6,7,8,9]
print(list[::-1])

In [ ]:
list=[2,3,4,5,6,7,8,9]
for i in range(-1,-len(list)-1,-1):
    print(list[i])

# Nested Loops

In [ ]:

# Nested Loops
list=[[2,3,4,5],[6,7,8,9]]
for i in list:
    for j in i:
        print(j)

In [ ]:
list2=[[2,3,4,5],[6,7,8,9]]
list1=[]
for i in list2:
    for j in i:
        list1.append(j)
for k in range(len(list1),0,-1):
    print(list1[k-1])

In [ ]:
a,b,c= [2,3,4]
print(a,b,c)

In [ ]:
a,b=2,3,4
print(a,b)  # error

In [ ]:
lis1=[[2,3,4],[5,6,7]]
for a,b,c in lis1:
    print(a,b,c)

In [ ]:
# many time
n= int(input("Enter the 1st order: "))
n1= int(input("Enter the square order: "))
for i in range(n):
    for j in range(n1):
        print("Dheeraj")

In [ ]:
# many time
n= int(input("Enter the 1st order: "))
n1= int(input("Enter the square order: "))
for i in range(n):
    for j in range(n1):
        print("Dheeraj")
        print("Kumar")
    print("partially complete")
print("completed")

In [ ]:
# many time 
m,n=2,3
for i in range(m):
    for j in range(n):
        print("Dheeraj")

# pattern printing

In [ ]:
n = int(input("Enter Your choice: "))
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")        # i=n     j=i+1
    print()

In [ ]:
n= int(input(" Enter your choice: "))
for i in range(n):
    for j in range(n-i):
        print("*",end=" ")               # i=n     j=n-i
    print()

In [ ]:
n= int(input("Enter any Numbers: "))
for i in range(n):
    for j in range(n-i-1):
        print(" ", end=" ")
    for k in range(i+1):
        print(" *",end=" ")
    print("")

In [ ]:
n= int(input("Enter any Numbers: "))
for i in range(n):                # i = n
    for j in range(n-i-1):        # i=n-i-1   
        print(" ", end=" ")
    for k in range(i+1):           # k= i+1
        print("*",end=" ")
    print("")

In [ ]:
n= int(input("Enter numbers of lines: "))
for i in range(n):
    for j in range(i+1):    # j= i+1
        print("*",end=" ")
    for k in range(2*n-2*i-2):   # k= 2*n-2*i-2
        print(" ",end=" ")
    for l in range(i*1):
        print("*",end=" ")       # l= i*1
    print()

In [ ]:
n = int(input("Enter your choice: "))
for i in range(n):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

In [ ]:
n = int(input("Enter your choice: "))
for i in range(1, n):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

# Break & Continue

In [ ]:
# new program of 1squre,2squre.,3squre,4squre
for i in range(1,10):
    if(i==5):
        break
    print(i**2)

In [ ]:
# new program of 1squre,2squre.,3squre,4squre
for i in range(1,10):
    print(i**2)
    if(i==4):
        break

In [ ]:
# new program of 1squre,2squre.,3squre,4squre,5squre,6squre.,8squre,9squre,11squre,12squre.,13squre,14squre
for i in range(1,22):
    if (i==7 or i==10):
        continue
    print(i**2)
    if (i==18):
        break

In [ ]:
# prime no. only divisible by 1 and it self;
n = int(input("Enter any number: "))
r=0
for i in range(2,n):
    if (n % i == 0):
        print(n, "is not a prime number")
        r=1
        break
if (r==0):
    print(n,"is prime number")

In [ ]:
n = int(input("Enter the your Number: "))
for i in range(2,n):
    if (n % 2 == 0):
        print(n,"The number  is not prime number")
        break
    else:
        print(n, " is prime Number")
        break

In [ ]:
# Find all prime and non prime number in a given range:
n1 = int(input("Enter Your lower Number"))
n2 =  int(input("Enter your upper Number"))
for n in range(n1,n2+1):
    for i in range(2,n):
        if (n%i==0):
            print(n, " is not prime nummber")
            break
        else:
            print(n," is prime number")
            break

In [2]:
# findm thepalindrome numbers:
n= input("Enter your choice: ")
i=0
for i in range(len(n)):
    if n[i]!=n[-1-i]:
        print(n," is not palindrome")
        break
    else:
        print(n," is palindrome")
        break

Enter your choice: 121
121  is palindrome

# Palindrome program in python using string

In [ ]:
n=input("Enter your word: ")
rev=reversed(n)
if list(n)==list(rev):
    print(n, " is palindrome number")
else:
     print(n, " is not palindrome number")

# while loop

In [ ]:
for i in range(5):
    print("Dheeraj")

In [ ]:
i=0
while(i<5):
    print("Dheeraj")
    i+=1

In [ ]:
 # Find all prime and non prime number in a given range using while loop:
n1= int(input("Enter lower Number: "))
n2= int(input("Enter upper number: "))
n=n1
while (n< n2+1):
    # for n in range(n1,n2+1):
    i=2
    while (i<n):
        #for i in range(2,n):
        if (n%i==0):
            print(n, " is not prime nummber")
            break
        i+=1
        else:
            print(n," is prime number")
        i+=1